/*pets.html grids*/
  

.bacon-photos {
    display:grid;   
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #2b6d59;
    padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


/*travel.html grids*/
.chiang_images {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #2b6d59;
  padding: 10px;
}

.chiang_images > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}

.image1 {
  grid-row: 1 / 3;
}


/*nav bar*/
/*changing to horizontal, adding background color*/
.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.nav_bar_li {
    float: left;
  }

  /*text styling*/
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*hovering active*/
  li a:hover:not(.active) {
    background-color: #1d1d1d;
  }
  
  /*color change when active*/
  .active {
    background-color: #2b6d59;
    font-weight: bold;
  }


  .skip_main_content {
    position: absolute;
    left: -9999px;
}

.skip_main_content:focus {
    position: static;
    left: auto;
}

.skip_main_content {
    background-color: #00336a;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    z-index: 1000; /* Ensure it appears above other elements */
}

.skip_main_content:hover,
.skip_main_content:active {
    background-color: #00336a;
}





/* Reduce motion for users who prefer it */
@media (prefers-reduced-motion: reduce) {
  .gif-animation {
    display: none; /* or any other alternative styles for reduced motion */
  }
}